body{
    background-color: rgb(67, 58, 61);
}

.logo {
    z-index: -1;
    position: fixed;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: rgba(241, 164, 13, 1);
    font-weight: bolder;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(67, 58, 61);
    position: relative;
    top: 150px;
}

.imgcontainer{
    margin: auto;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.suite {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(241, 164, 13, 0.6);
    position: relative;
    top: 17px;
    border: solid thin rgba(241, 164, 13, 0.6);
}

.bookbtn {
    background-color: rgba(241, 164, 13, 0.6);

}

.reserve-content {
    display: none;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

.reserve-content input {
    border-radius: 5px;
}

.checkin, .checkout {
    margin-bottom: 10px;
    width: 50%;
}

.sendbtn {
    background-color: rgba(241, 164, 13, 0.6);
    margin-bottom: 15px;
}

.name {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tel, .mail {
    width: 40%;
    margin-bottom: 10px;
}

.nights, .amount {
    width: 40%;
    border: thin solid rgba(241, 164, 13, 1);
}

.closebtn {
    background: none;
    border-radius: 20%;
}

.cancelbtn {
    display: none;
    background-color: rgba(241, 164, 13, 0.6);
    margin-top: 15px;
}

.warning {
    display: none;
    margin: auto;
    width: max-content;
    font-size: 50px;
}

@media screen and (min-width: 420px) {
    body {
        background-color: white;
    }
    .warning{
        display: block;
    } 
    .logo {
        display: none;
    }
    .wrapper{
        display: none;
    }
}