body{
    background-color: rgb(67, 58, 61);
}

.logo {
    z-index: -1;
    position: fixed;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: rgba(241, 164, 13, 1);
    font-weight: bolder;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(67, 58, 61);
    position: relative;
    top: 150px;
}

.imgcontainer{
    margin: auto;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.suite {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(241, 164, 13, 0.6);
    position: relative;
    top: 17px;
    border: solid thin rgba(241, 164, 13, 0.6);
}

.bookbtn {
    background-color: rgba(241, 164, 13, 0.6);
}

.reservation {
    display: none;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    padding-top: 200px;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
}

.reserve-content {
    margin: auto;
    background-color: grey;
    width: 90%;
    height: 250px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: bolder;
}

.reserve-content input {
    border-radius: 5px;
}

.reserve-header {
    height: 40px;
    background-color: rgb(67, 58, 61);
    color: rgba(241, 164, 13, 1);
    font-weight: bolder;
}

.reserve-header span{
    position: relative;
    top: 13px;
    left: 5px;
}

.closebtn {
    color: white;
    border: none;
    font-size: 10px;
    height: 15px;
    background-color: black;
    float: right;
}

#checkin, #checkout {
    margin-bottom: 10px;
    width: 50%;
}

#sendbtn {
    background-color: rgba(241, 164, 13, 0.6);
    margin-bottom: 15px;
}

#name {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tel, #mail {
    width: 40%;
    margin-bottom: 10px;
}

#nights, #amount {
    width: 40%;
    border: thin solid rgba(241, 164, 13, 1);
}

@media screen and (min-width: 420px) {
    body {
        background-color: white;
    }

    .logo {
        display: none;
    }

    .wrapper{
        display: none;
    }
}